:root{
    --blue : blue;
    --red : red;
    --blue-header : cadetblue;
    --sent-green : #d5f9ba;
    --rcvd-white : bisque;
    --cyan-srchbox : lightblue;
    --bg-generic : #c152c8;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*UTILITIES*/
.mrg-b-10{
    margin-bottom: 10px;
}
.pd-xy-10{
    padding: 10px;
}

.txt-s-m{
    font-size: 0.9rem;
}
/*APPROCCIO MOBILE-FIRST*/

/*MACRO LAYOUTING*/

.webapp-container{
    width: 100vw;
    height: 100vh;

    /*DEBUG*/
    background-color: var(--bg-generic);
    border: 3px solid black;
}

.webapp-ui{
    width: 100vw;
    height: 100vh;

    /*DEBUG*/
    background-color: var(--blue);
    border: 3px solid yellow;
}
/*Parte Sx e Dx */
.webapp-col-left{
    display: none;
}

.webapp-col-right{
    height: 100%;
    
}

/*Header per entrambi Sx e Dx*/
.header-ui{
    width: 100%;
    min-height: 60px;
    padding: 10px;
    background-color: var(--blue-header);
}
/*Header nella col dx*/
.header-left{
    width: 100%;
    height: 40px;
    background-color: aquamarine;
    display: flex;
}
.header-right{
    display: none;
}

/*Header-left content*/
.img-block{
    display: block;
    height: 40px;
    width: 40px;
    background-color: coral;
}

.contact-info{
    display: block;
    height: 40px;
    width: calc(100% - 40px);
    background-color: yellowgreen;
}

/* Header right */

/* Chat Formatting */
.chat-txt{
    position: relative;
    /*flex prop*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*bg prop*/
    background-image: url(../img/mine.jpg);
    background-position: center;
    background-size: cover;
    height: calc(100vh - 60px);
    
}
.msg-sender{
    max-width: 70%;
    background-color: #caf7a8;
    align-self: self-end;
}

.msg-receiver{
    max-width: 70%;
    background-color: #ffffff;
    align-self: self-start;
}

.insert-msg{
    height: 45px;
    width: 100%;
    position: absolute;
    background-color: #c152c8;
    bottom: 0;
}